.disabled-link {
    pointer-events: none;
    cursor: default;
    opacity: 0.5; /* Opcional: para dar un efecto visual de deshabilitado */
  }
.image {
    max-height: 80svh;
    object-fit: contain;
}