<div class="container-detail">

    @if (project.image) {
        <img class="image" src="{{url+'get-image/'+project.image}}" >
    }

    <div class="data">
        <h1>Proyecto {{project.name}}</h1>
        <h4>Descripcion: {{project.description}}</h4>
        <p>Categoria: {{project.category}}</p>
        <p>Lenguajes: {{project.langs}}</p>
    
        @if (deleteConfirm == false) {
            <div>
                <p >
                    <a [routerLink]="['/editar-proyecto/', project.id]" class="button-edit" 
                        [ngClass]="{'disabled-link': !hasToken()}"
                        [attr.aria-disabled]="!hasToken()" >Editar
                    </a>
                    <a class="button-delete" (click)="setConfirm(true)" 
                        [ngClass]="{'disabled-link': !hasToken()}"
                        [attr.aria-disabled]="!hasToken()">Borrar
                    </a>
                </p>
            </div>
        } 
        @if (deleteConfirm == true) {
            <p> 
                <span class="confirm"> Estas seguro que quieres eliminar el Projecto? </span>
                <a class="button-edit" (click)="setConfirm(false)">Cancelar</a>
                <a class="button-delete" (click)="deleteProject(project.id)" >Eliminar Proyecto</a>
            </p>
        }
    </div>
</div>