
/*Sobre mi*/
#title{
	width: 70%;
	margin: 0px auto;
	text-align: center;
	margin-top: 5vh;
	margin-bottom: 10vh;
}

#title h1{
    font-family: antagon;
	font-size: 7vh;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

#title h2{
	font-size: 2vw;
	color: gray;
	margin-top: 5px;
	margin-bottom: 5px;
}

article.about{
	width: 70%;
	margin: 0px auto;
	margin-bottom: 20px;
	font-size: 23px;
}
article h2{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 4.5vh;
}

article p{
	padding-top: 20px;
	padding-bottom: 30px;
	text-align:left;
	line-height: 4vh;
	text-indent: 20px;
}

@media(600px < width <= 800px){
	#title h1{
		font-size: 5vh;
	}
	article h2{
		font-size: 3.5vh;
	}
}

@media(width <= 600px){
	#contenedor{
		width: 110%;
		margin: 0px auto;
		margin-left: -17px;
	}
	#title{
		width: 70%;
		margin-top: 4vh;
		margin-bottom: 6vh;
	}
	#title h1{
		font-size: 4vh;
	}
	article h2{
		font-size: 3vh;
	}
	article p{
        font-size: 2vh;
    }

}