<div id="contenedor">
    <div id="title">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <p>{{email}}</p>
    
    </div>
    
    <article class="about">
        <h2>Sobre mi</h2>
        <p>
            Me llamo Mariano Andres Tardugno, naci en 1972. curse secundario en el Instituto Politecnico. El ultimo año del secundario curse un eempa y culmine mi secundaria en 1991. Estudie 2 años de analista de sistemas en la Universidad Tecnologica Nacional y luego hice 2 años mas en un instituto privado de la misma carrera que por cuestiones familiares no pude culminar. Para ese momento ya programaba en C++.
            Luego tuve un negocio que se baso en diseño grafico durante 18 años. Mnejé un stack de 5 empleados y mantuve mi negocio hasta la pandemia.
            Despues de la misma, cuando se reanuda la actividad, comence a trabajar en emprendimientos varios pero a la vez reanudé mis estudios de programacion.
            Comence con diseño web, estudiando HTML y CSS. Luego hice variocursos de JavaScript, para terminar programando en Angular (17 y 18). Tambien tengo cursos en Node.JS y conocimientos de NestJS con los que piude programar varios Backend de aplicaciones.
            Me considero un Programador Junior pero Con ganas de avanzar y diversificarme adaptandome a los desafios que lleguen. 
            Tengo la vigencia y el temple necesarios y la apertura para ser parte de nuevos proyectos propios como tambien en equipo. 



        </p>
    </article>

</div>