<div id="contenedor">
    <div id="title">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <p>{{email}}</p>
    
    </div>
    
    <article class="about">
        <h2>Sobre mi</h2>
        <p>
            Me llamo Mariano Andres Tardugno, nací en 1972. Cursé secundario en el Instituto Politecnico.
            Estudié 2 años de Analista de Sistemas en la Universidad Tecnologica Nacional y luego hice 2 años más en un instituto privado de la misma carrera.
        </p>
        <p>
            Reanudé mis estudios de programacion luego de la pandemia. Comencé con diseño web, estudiando HTML y CSS. Luego hice varios cursos de JavaScript. Desde septiembre de 2023 comencé con cursos de Typescript para pasar luego a programar en Angular 17 y 18. 
        </p>
        <p>
            Tambien tengo cursos en Node.JS y conocimientos de NestJS con los que pude programar varios backend´s de mis aplicaciones.
        </p>
        <p>
            Me considero una persona con ganas de avanzar y diversificarme adaptándome a los nuevos desafios. 
            Tengo la vigencia y el temple necesarios y la apertura para ser parte de nuevos proyectos en equipo. 

        </p>
    </article>

</div>