/* Importar fuentes custom*/
@font-face{
	font-family: "yanone";
	src: url("fonts/yanone.ttf");
}

@font-face{
	font-family: "finger";
	src: url("fonts/finger.ttf");
}

@font-face{
	font-family: "antagon";
	src: url("fonts/Antagon.otf");
}

/*Generales*/

*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: "yanone", Arial, Helvetica;
	font-size: 1.2vw;
	background: url("../img/pattern.png");
	background-attachment: fixed;
}

@media (500px<width<=700px) {
	body {
		font-size: 2.5vw;
	}
}
@media (width<=500px) {
	body {
		font-size: 3.7vw;
	}
}

.clearfix{
	float:none;
	clear:both;
}

/*Barra de navegacion / cabecera*/

header{
	display: block;
	width: 100%;
	height: 90px;
	/* font-size: 1.8vw; */
	font-size: clamp(12px, 1.8vw, 24px);
	background: rgba(53, 103, 164, 0.8);
	position: fixed;
	text-transform: uppercase;
}

header ul{
	/* display: block; */
	display: flex;
    justify-content: center;
	margin: 0px auto;
	width: 70%;
	height: inherit;
	margin: 0px auto;
}

header ul li{
	display: inline-block;
	margin: 0px auto;
	text-align: center;
	line-height: 88px;
}

header a{
	display: block;
	padding-right: 2.6vw;
	padding-left: 2.6vw;
	height: inherit;
	text-decoration: none;
	color:white;
	transition: all 300ms;
}	



header a:hover,
.actived{
	background: rgba(0,0,0,0.5);
}

/*Logotipo*/

#logo{
	font-family: "antagon";
	font-size:3vw;
}

#logo {
	transition: color 500ms, transform 500ms;
}


#logo:hover{
	background: transparent;
	color: black;
	transform:scale(1.50,1.50);
}

@media (550px < width <= 700px) {
	header a{
		padding-right: 2vw;
		padding-left: 2vw;
	}
	#logo{
		font-size:3.2vw;
	}
}

@media (width<=550px) {
	header a{
		padding-right: 0.5vw;
		padding-left: 0.5vw;
	}
	#logo{
		font-size:3.7vw;
	}
}

/*Contenedor principal*/

#content{
	min-height: 600px;
	height: auto;
	width: 75%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px black;
	border-left:1px solid #b7b7b7;
	border-right:1px solid #b7b7b7;
	background: rgba(255, 255, 255, 0.7);
	padding-top: 120px;
	overflow: scroll;
}



.container{
	padding: 10px;
	padding-top: 10px;
	height: auto;
}


@media(width < 550px){
	.container .image{
		width: 100%;
	}
	#content{
		width: 85%;
	}
}

.container h1{
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	text-align: center;
	margin-bottom: 3vh;
}

.container h2{
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

/*Sección con formulario*/
form{
	width: 80%;
}

form label{
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
	width: 40%;
	padding: 5px;
}

form button,
form input[type="submit"],
.button-edit,
.button-delete{
	display: block;
	font-size: 2vw;
	padding: 0.5vw 2vw 0.5vw 2vw;
	margin-top: 15px; 
	color:white;
	background: rgba(53, 103, 164, 1);
	border: 1px solid rgba(13, 67, 133, 1);
	cursor: pointer;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);}

.button-edit,
.button-delete{
	width: auto;
	height: auto;
	float: left;
	margin-right: 10px;
	text-decoration: none;
	margin-bottom: 10vh;
}

.button-edit{
	background: orange;
	border: none;
}

.button-delete{
	background: red;
	border: none;
}

form button:hover,
form input[type="submit"]:hover{
	background: rgba(53, 103, 164, 0.8);
	border: 1px solid rgba(13, 67, 133, 1);
}

form input[disabled]{
	opacity: 0.4;
	cursor: not-allowed;
}

.form_error{
	font-size: 13px;
	padding: 3px;
	background: red;
	color:white;
	margin-left: 5px;
}

.message{
	width: 50%;
	padding: 5px;
	border: 1px solid #eee;
}

.success{
	background: green;
	color: white;
}

.message a{
	color: white;
}

.failed{
	background: red;
	color: white;
}



/*Pie de pagina*/
footer {
	width: 75%;
	margin: 0px auto;
	padding-top: 15px;
	color: rgba(0, 0, 0, 0.5);
}



/*Pagina de proyectos*/

.project{
	list-style: none;
	display: block;
	float: left;
	width: 28%;
	text-align: center;
	margin-left: 1.6vw;
	margin-right: 1.6vw;
	margin-bottom: 2vh;
}

.project .image{
	width: 100%;
	float: left;
	max-height: min-content;
	max-height: 22vh;
	overflow: hidden;
}
.project img{
	width: 100%;
	object-fit: cover;
	max-height: 18vh;
}

@media (795px < width < 950px){
	.project{
		margin-left: 1.6vw;
		margin-right: 1.6vw;
	}

	.project .image{
		max-height: 12vh;

	}
}

@media (550px < width < 794px){

	.project{
		width: 45%;
	}
	.project .image{
		max-height: 11vh;
		width: 40;
	}
	.project img{
		width: 100%;
		object-fit:cover;
	}
	div img{
		max-height: 10vh;
	}
}

@media(width <= 550px){
	.project{
		width: 95%;
	}
	
	.project .image{
		max-height: none;
	}

	.project img{
		width: 80%;
		object-fit:cover;
		max-height: 100%;
	}

}



.project a{
	/* height: 16vh; */
	text-decoration: none;
	color: black;
}

.confirm{
	display: block;
	font-weight: bold;
	margin-top: 10px;
}