
<header>
  <ul>
    <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre Mi</a></li>
    <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li (click)="openDialog()"><a id="logo">MT</a></li>
    <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear proyecto</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Portfolio de Mariano Antar &copy;
</footer>

<!-- ! DIALOGO PARA INGRESAR CODIGO Y ACTIVAR MODO EDICION -->
<dialog method="modal" #dialog>
  <div class="modal-content">
    <p>Ingrese el código de acceso:</p>
    <input type="password" name="codeInput" id="codeInput" #codeInputRef>
    <button type="button" id="submitButton" (click)="closeDialog()">Confirmar</button>
  </div>
</dialog>
